[submodule "scss-support-backend"]
	path = scss-support-backend
	url = git@bitbucket.org:team_sumomedia/scss-support-backend.git
[submodule "scss-support-frontend"]
	path = scss-support-frontend
	url = git@bitbucket.org:team_sumomedia/scss-support-frontend.git
[submodule "afia-backend"]
	path = afia-backend
	url = git@bitbucket.org:team_sumomedia/afia-backend.git
[submodule "afia-frontend"]
	path = afia-frontend
	url = git@bitbucket.org:team_sumomedia/afia-frontend.git
[submodule "ssu-frontend"]
	path = ssu-frontend
	url = git@bitbucket.org:team_sumomedia/ssu-frontend.git
[submodule "ssu-backend"]
	path = ssu-backend
	url = git@bitbucket.org:team_sumomedia/ssu-backend.git
