[submodule "content-management-system-frontend"]
	path = content-management-system-frontend
	url = git@github.com:Jerven-git/content-management-system-frontend.git
[submodule "content-management-system-backend"]
	path = content-management-system-backend
	url = git@github.com:Jerven-git/content-management-system-backend.git
