services:
  frontend:
    image: scss-support-frontend:dev
    build:
      context: ./scss-support-frontend
      dockerfile: Dockerfile
    restart: unless-stopped
    volumes:
      - ./scss-support-frontend:/home/node
    environment:
      HOST: '0.0.0.0'
    networks:
      - app-network

  backend:
    image: scss-support-backend:dev
    build:
      context: ./scss-support-backend
      dockerfile: Dockerfile
    restart: unless-stopped
    volumes:
      - ./scss-support-backend:/var/www/html
    networks:
      - app-network

  nginx:
    image: nginx:alpine
    volumes:
      - ./nginx/conf.d:/etc/nginx/conf.d
      - ./scss-support-backend:/var/www/html
      - ./scss-support-frontend:/home/node
    ports:
      - 8000:80
    networks:
      - app-network

  db:
    platform: linux/x86_64
    image: mysql:latest
    restart: unless-stopped
    volumes:
      - ./storage/db-data:/var/lib/mysql
    environment:
      MYSQL_DATABASE: ${DATABASE}
      MYSQL_ROOT_PASSWORD: ${ROOT_PASSWORD}
      MYSQL_USER: ${USERNAME}
      MYSQL_PASSWORD: ${PASSWORD}
    networks:
      - app-network
  
  phpmyadmin:
        platform: linux/amd64
        image: phpmyadmin:5
        container_name: pma
        depends_on:
            - db
        restart: unless-stopped
        environment:
            PMA_HOST: db
            PMA_PASSWORD: ${DB_ROOT_PASSWORD}
        ports:
            - 8001:80
        networks:
            - app-network

networks:
  app-network:
    driver: bridge
